@media only screen and (min-width: 1101px){
.main form{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	margin:4% auto;
}
form select{
	padding: 1%;
}
.label{
	margin-top: 2%;
	margin-bottom: 0.5%;
}
.input{
	padding: 1%;
}

.main form button{
	text-decoration: none;
	margin-top: 2%;
	width: 10%;
	background-color: crimson;
	padding:1.1% 2.8%;
	border-radius: 5px;
	text-align: center;
	border: none;
	color: white;
	font-weight: 700;
	cursor: pointer;
}
.loading{
	color:crimson;
	text-align: center;
	padding-bottom: 3%;
	margin: 3% auto;
	margin-bottom: 0;
	font-weight: 500;
}
.productImg{
	border-radius: 5px;
	border: black 1px solid;
}
}

/* TABLET */
@media only screen and (max-width: 1100px){
	.main form{
		display: flex;
		flex-direction: column;
		width: 70%;
		margin: 0 auto;
		margin:4% auto;
	}
	form select{
		padding: 5%;
	}
	.label{
		margin-top: 2%;
		margin-bottom: 0.5%;
	}
	.input{
		padding: 2%;
	}
	
	.main form button{
		text-decoration: none;
		margin-top: 4%;
		width: 25%;
		background-color: crimson;
		padding:3% 5%;
		border-radius: 5px;
		text-align: center;
		border: none;
		color: white;
		font-weight: 700;
		cursor: pointer;
	}
	.loading{
		color:crimson;
		text-align: center;
		padding-bottom: 3%;
		margin: 3% auto;
		margin-bottom: 0;
		font-weight: 500;
	}
	.productImg{
		border-radius: 5px;
		border: black 1px solid;
	}
}

/* MOBILE */
@media only screen and (max-width: 750px){
	.main form{
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		margin:7% auto;
	}
	form select{
		padding: 2%;
	}
	.label{
		margin-top: 4%;
		margin-bottom: 0.5%;
	}
	.input{
		padding: 2% 1%;
	}
	
	.main form button{
		text-decoration: none;
		margin-top: 7%;
		width: 50%;
		background-color: crimson;
		padding:4%;
		border-radius: 5px;
		text-align: center;
		border: none;
		color: white;
		font-weight: 700;
		cursor: pointer;
	}
	.loading{
		color:crimson;
		text-align: center;
		padding-bottom: 3%;
		margin: 3% auto;
		margin-bottom: 0;
		font-weight: 500;
	}
	.productImg{
		border-radius: 5px;
		border: black 1px solid;
	}
}
