@media only screen and (min-width: 1101px){
.navOne{
	width:18%;
	margin-left: 5%;
}
.mainLink{
	text-decoration: none;
}
.navOne h1{
	white-space: nowrap;
	color: crimson;
	margin: 1% 0;
	margin-bottom: 0%;
	padding-bottom: 0%;
}
.navOne p{
	padding-top: 0;
	margin-top: 0;
	color: black;
	white-space: nowrap;
}
.navTwo{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.navTwoInner{
	width: 65%;
}
.navTwo form{
	display: flex;
	margin: 0 1%;
	width: 100%;
}
.login{
	text-decoration: none;
	color: crimson;
	font-weight: 500;
	margin: 0 3%;
	padding:8px 15px;
	border: 1px solid crimson;
	border-radius: 5px;
}
.login:hover{
	transition-duration: 0.5s;
	color: white;
	background-color: crimson;
}
.navTwo form button{
	border:none;
	cursor: pointer;
	background-color: crimson;
	color: white;
	padding:0 2%;
	font-weight: 700;
	border:1px solid lightgrey;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: none;
	margin-right: 3%;
}
.navTwo form input{
	border:1px solid lightgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
	padding:1% 4%;
	padding-left: 2%;
	font-size: 1.05em;
	width:100%;
}
.navTwo form input:focus{
	border:1px solid lightgrey;
	outline: none;
}
.sellBtn{
	text-decoration: none;
	background-color: crimson;
	padding:8% 25%;
	border-radius: 5px;
	margin-left: 0%;
}
.mainBtns{
	display: flex;
	text-align: center;
	align-items: center;
}
.sellBtn button{
	background-color: crimson;
	border: none;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
.navThree{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 1px solid lightgray;
	margin:1.5% 0;
	margin-bottom:0;
}
.navThree .category p{
	font-weight: 500;
	color: black;	
}
.category p:hover{
	color: crimson;
}
.category{
	text-decoration: none;
}
header{
	background-color: rgb(247, 246, 246);
	margin: 0;
}
.searchResults ul{
	z-index: 5;
	text-decoration: none;
	list-style: none;
	background-color: white;
	position: absolute;
	width: 65%;
	padding: 1% 2%;
}
.searchResults ul li{
	padding: 1%;
}
.searchResults ul li a{
	text-decoration: none;
	color: black;
}
.accountMenu {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* Style the "Account" link */
  .accountMenu .account{
	text-decoration: none;
	color: crimson;
	font-weight: 500;
	padding:10px 15px;
	border: 1px solid crimson;
	border-radius: 5px;
  }
  .accountMenu{
	margin: 0% 3%;
  }
  .accountMenu .login:hover{
	color:white
  }
  /* Style the account menu content (dropdown) */
  .accountMenuContent {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width:200%;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	padding-bottom: 0px;
	z-index: 3;
	border-radius: 5px;
	text-align: center;
  }
  .accountMenuContent a{
	display: block;
	margin: 10% auto;
	text-decoration: none;
  }
  /* Show the account menu content when the menu is open */
  .accountMenu:hover .accountMenuContent {
	display: block;
  }
.logout{
	padding: 4% 6%;
	background-color: crimson;
	border-radius: 5px;
	color: white;
}
.myads{
	color: black;
}
.accountMenuContent h4{
	color: black;
	cursor:auto;
}
.category{
	align-items: center;
	text-align: center;
	margin: 0.5% 0;
}
.category p{
	text-align: center;
	margin: 0% auto;
}
.categoryIcon{
	text-align: center;
	font-size: 28px;
	margin: 0 auto;
	display: block;
}
}

/* TABLET */
@media only screen and (max-width: 1100px){
	.navOne{
		width:18%;
		margin-left: 5%;
	}
	.mainLink{
		text-decoration: none;
	}
	.navOne h1{
		white-space: nowrap;
		color: crimson;
		margin: 1% 0;
		margin-bottom: 0%;
		padding-bottom: 0%;
	}
	.navOne p{
		padding-top: 0;
		margin-top: 0;
		color: black;
		white-space: nowrap;
	}
	.navTwo{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.navTwoInner{
		width: 55%;
	}
	.navTwo form{
		display: flex;
		margin: 0 1%;
		width: 100%;
	}
	.login{
		text-decoration: none;
		color: crimson;
		font-weight: 500;
		margin: 0 3%;
		padding:8px 15px;
		border: 1px solid crimson;
		border-radius: 5px;
	}
	.login:hover{
		transition-duration: 0.5s;
		color: white;
		background-color: crimson;
	}
	.navTwo form button{
		border:none;
		cursor: pointer;
		background-color: crimson;
		color: white;
		padding:0 2%;
		font-weight: 700;
		border:1px solid lightgrey;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border-left: none;
		margin-right: 3%;
	}
	.navTwo form input{
		border:1px solid lightgrey;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-right: none;
		padding:1% 4%;
		padding-left: 2%;
		font-size: 1.05em;
		width:100%;
	}
	.navTwo form input:focus{
		border:1px solid lightgrey;
		outline: none;
	}
	.sellBtn{
		text-decoration: none;
		background-color: crimson;
		padding:5.5% 11%;
		border-radius: 5px;
		margin-left: 0%;
		text-align: center;
	}
	.mainBtns{
		display: flex;
		text-align: center;
		align-items: center;
	}
	.sellBtn button{
		background-color: crimson;
		border: none;
		color: white;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
	}
	.navThree{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border-top: 1px solid lightgray;
		margin:1.5% 0;
		margin-bottom:0;
	}
	.navThree .category p{
		font-weight: 500;
		color: black;	
	}
	.category p:hover{
		color: crimson;
	}
	.category{
		text-decoration: none;
	}
	header{
		background-color: rgb(247, 246, 246);
		margin: 0;
	}
	.searchResults ul{
		z-index: 5;
		text-decoration: none;
		list-style: none;
		background-color: white;
		position: absolute;
		width: 65%;
		padding: 1% 2%;
	}
	.searchResults ul li{
		padding: 1%;
	}
	.searchResults ul li a{
		text-decoration: none;
		color: black;
	}
	.accountMenu {
		position: relative;
		display: inline-block;
		cursor: pointer;
	  }
	  
	  /* Style the "Account" link */
	  .accountMenu .account{
		text-decoration: none;
		color: crimson;
		font-weight: 500;
		padding:10px 15px;
		border: 1px solid crimson;
		border-radius: 5px;
	  }
	  .accountMenu{
		margin: 0% 3%;
	  }
	  .accountMenu .login:hover{
		color:white
	  }
	  /* Style the account menu content (dropdown) */
	  .accountMenuContent {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width:200%;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		padding-bottom: 0px;
		z-index: 3;
		border-radius: 5px;
		text-align: center;
	  }
	  .accountMenuContent a{
		display: block;
		margin: 10% auto;
		text-decoration: none;
	  }
	  /* Show the account menu content when the menu is open */
	  .accountMenu:hover .accountMenuContent {
		display: block;
	  }
	.logout{
		padding: 4% 6%;
		background-color: crimson;
		border-radius: 5px;
		color: white;
	}
	.myads{
		color: black;
	}
	.accountMenuContent h4{
		color: black;
		cursor:auto;
	}
	.category{
		align-items: center;
		text-align: center;
		margin: 0.5% 0;
	}
	.category p{
		text-align: center;
		margin: 0% auto;
	}
	.categoryIcon{
		text-align: center;
		font-size: 28px;
		margin: 0 auto;
		display: block;
	}
	}

/* MOBILE */
@media only screen and (max-width: 750px){
	.navOne{
		width:50%;
		margin-left: 5%;
	}
	.mainLink{
		text-decoration: none;
	}
	.navOne h1{
		white-space: nowrap;
		color: crimson;
		margin: 1% 0;
		margin-bottom: 0%;
		padding-bottom: 0%;
	}
	.navOne p{
		padding-top: 0;
		margin-top: 0;
		color: black;
		white-space: nowrap;
	}
	.navTwo{
		display: block;
		/* align-items: center;
		justify-content: center; */
		margin: 0;
	}
	.navTwoInner{
		display: block;
		width: 95%;
		margin: 0 auto;
	}
	.navTwo form{
		display: flex;
		margin: 0 1%;
		width: 100%;
	}
	.mainBtns{
		margin: 2% auto;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.login{
		text-decoration: none;
		color: crimson;
		font-weight: 500;
		margin: 0 1%;
		padding:2% 10%;
		border: 1px solid crimson;
		border-radius: 5px;
	}
	.login:hover{
		transition-duration: 0.5s;
		color: white;
		background-color: crimson;
	}
	.navTwo form button{
		border:none;
		cursor: pointer;
		background-color: crimson;
		color: white;
		padding:0 2%;
		font-weight: 700;
		border:1px solid lightgrey;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border-left: none;
		margin-right: 3%;
	}
	.navTwo form input{
		border:1px solid lightgrey;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-right: none;
		padding:2.5% 4%;
		padding-left: 2%;
		font-size: 1.05em;
		width:100%;
	}
	.navTwo form input:focus{
		border:1px solid lightgrey;
		outline: none;
	}
	.sellBtn{
		text-decoration: none;
		background-color: crimson;
		padding:3.1% 13%;
		border-radius: 5px;
		margin-left: 0%;
	}
	.sellBtn button{
		background-color: crimson;
		border: none;
		color: white;
		font-weight: 600;
		cursor: pointer;
	}
	.navThree{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border-top: 1px solid lightgray;
		margin:1.5% 0;
		margin-bottom:0;
		padding: 1% 0;
	}
	.navThree .category p{
		font-weight: 500;
		color: black;	
		font-size: 0.7em;
	}
	.category p:hover{
		color: crimson;
	}
	.category{
		text-decoration: none;
	}
	header{
		background-color: rgb(247, 246, 246);
		margin: 0;
	}
	.searchResults ul{
		z-index: 5;
		text-decoration: none;
		list-style: none;
		background-color: white;
		position: absolute;
		width: 65%;
		padding: 1% 2%;
	}
	.searchResults ul li{
		padding: 1%;
	}
	.searchResults ul li a{
		text-decoration: none;
		color: black;
	}
	.accountMenu {
		position: relative;
		display: inline-block;
		cursor: pointer;
	  }
	  
	  /* Style the "Account" link */
	  .accountMenu .account{
		text-decoration: none;
		color: crimson;
		font-weight: 500;
		padding:6px 15px;
		border: 1px solid crimson;
		border-radius: 5px;	
	  }
	  .accountMenu{
		margin: 0% 2%;
	  }
	  .accountMenu .login:hover{
		color:white
	  }
	  /* Style the account menu content (dropdown) */
	  .accountMenuContent {
		display: none;
		position: absolute;
		top: 100%;
		left: -120%;
		width:440%;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		padding-bottom: 0px;
		z-index: 10;
		border-radius: 5px;
		text-align: center;
	  }
	  .accountMenuContent a{
		display: block;
		margin: 2.5% auto;
		text-decoration: none;
	  }
	  /* Show the account menu content when the menu is open */
	  .accountMenu:hover .accountMenuContent {
		display: block;
	  }
	.logout{
		padding: 4% 6%;
		background-color: crimson;
		border-radius: 5px;
		color: white;
	}
	.myads{
		color: black;
		margin: 0;
		padding: 0;
	}
	.accountMenuContent h4{
		color: black;
		cursor:auto;
		margin: 0;
	}
	.category{
		align-items: center;
		text-align: center;
		margin: 0.5% 0;
	}
	.category p{
		text-align: center;
		margin: 0% auto;
	}
	.categoryIcon{
		text-align: center;
		font-size: 20px;
		margin: 0 auto;
		display: block;
	}
	}
